<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="rufus" />
	  <package id="vcredist2015" />
	  <package id="git" />
	  <package id="vcredist2013" />
	  <package id="jdk8" />
	  <package id="mremoteng" />
	  <package id="putty" />
	  <package id="wireshark" />
	  <package id="kubernetes-cli" />
	  <package id="python3" />
	  <package id="openssh" />  
	  <package id="winscp" />
	  <package id="terraform" />
	  <package id="visualstudiocode" />
	  <package id="vmware-workstation-player" />
	  <package id="puppet" />
	  <package id="powergui" />
	  <package id="rdmfree" />
	  <package id="curl" />
      <package id="vscode-powershell" />
      <package id="citrix-workspace" />
      <package id="openvpn" />	
	  <package id="gpg4win" />
	  <package id="winpcap" />
	  <package id="github-desktop" />
	  <package id="nirlauncher" />
    </packages>
	
	
                        
                         