<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="avidemux" />
	  <package id="shotcut" />
	  <package id="handbrake" />
	  <package id="mp3tag" />
	  <package id="jdownloader" />
	  <package id="qbittorrent" />
	  <package id="4k-video-downloader" />
	  <package id="obs-studio" />	  
    </packages>
	
	
                        
                         